@model SlimeWeb.Core.Data.ViewModels.ViewPost

@{
    ViewData["Title"] = "Create";
}
<script src="https://cdn.tiny.cloud/1/ja3n56taowk4bc936bes4ljg4qzrtu9qbl825wsz5m06t6ko/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/lib/uploadify/jquery.uploadifive.min.js"></script>
<link href="~/lib/uploadify/uploadifive.css" rel="stylesheet"/>
<script>
    tinymce.init({
        selector: '#content',
        plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker image imagetools',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table link|image'
        , images_upload_url: '/Posts/Upload/@(Context.Request.RouteValues["id"])',
        automatic_uploads: true,
        images_reuse_filename: true,
        //images_upload_base_path: '~/AppData/AppData/Temp/'
    })
</script>
@*<script type="text/javascript">
$(function () {

$('#file_upload').uploadify({

    'swf': '~/lib/uploadify/uploadify.swf',
'uploader': "@Url.Action("Upload", "ViewPost")",
'cancelImg': "@Url.Content("~/lib/uploadify/uploadify-cancel.png")",
'fileSizeLimit': '1MB', // Add Kb, MB, GB
'buttonText': 'Insert Images...', //Text for button
'queueSizeLimit': 10, // Max number of files allowed
'fileTypeDesc': 'Image Files',
'fileTypeExts': '*.gif; *.jpg; *.png', // File type allowed
'onUploadSuccess' : function(file, data, response) {
tinyMCE.activeEditor.execCommand("mceInsertContent", true, "<img src='" + data + "' alt='Uploaded Image' class='img-responsive' />");
}

})

}
);
</script>*@
<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Published" class="control-label"></label>
                <input asp-for="Published" class="form-control" hidden="hidden" value="@DateTime.Now" />
                <span asp-validation-for="Published" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="content" class="control-label"></label>

                <textarea asp-for="content" class="form-control" id="content" name="content">
</textarea>


                <span asp-validation-for="content" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Files" class="col-lg-2 control-label" ></label>
                <div class="col-lg-9">
                    <input type="file" name="Img" id="file_upload" />
                </div>
            </div>*@
            @*<div class="form-group">
            <label asp-for="Author" class="control-label"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="BlogId" class="control-label"></label>
                @*<select asp-for="BlogId" class ="form-control" asp-items="ViewBag.BlogId"></select>*@
                <input type="text" asp-for="BlogId" value="@ViewBag.BlogId" readonly="readonly" hidden="hidden" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

