@model SlimeWeb.Core.Data.ViewModels.ViewPost

@{
    ViewData["Title"] = "Create";
}
<script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.IconManager.add('markdown-labs-demo', {
        icons: {
            markdown: `<?xml version="1.0" encoding="UTF-8"?>
        <svg width="24px" height="24px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="markdown-mark" transform="translate(2.000000, 12.000000)" fill="#222f3e" fill-rule="nonzero">
                    <path d="M0.5,16 L0.5,0 L5.40322581,0 L10.3064516,5.88235294 L15.2096774,0 L20.1129032,0 L20.1129032,16 L15.2096774,16 L15.2096774,6.82352941 L10.3064516,12.7058824 L5.40322581,6.82352941 L5.40322581,16 L0.5,16 Z M31.1451613,16 L23.7903226,8.23529412 L28.6935484,8.23529412 L28.6935484,0 L33.5967742,0 L33.5967742,8.23529412 L38.5,8.23529412 L31.1451613,16 Z" id="Shape"></path>
                </g>
            </g>
        </svg>`
        }
    });
    tinymce.init({
        selector: '#content',
        plugins: 'markdown a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker image imagetools',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table link|image'        
        , images_upload_url: '@ViewBag.pathbase/Posts/Upload/@(Context.Request.RouteValues["id"])',
        automatic_uploads: true,
        images_reuse_filename: true,
        //images_upload_base_path: '~/AppData/AppData/Temp/'
    })
</script>
<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Published" class="control-label"></label>
                <input asp-for="Published" class="form-control" hidden="hidden" value="@DateTime.Now" />
                <span asp-validation-for="Published" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="content" class="control-label"></label>

                <textarea asp-for="content" class="form-control" id="content" name="content">
</textarea>


                <span asp-validation-for="content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>
                <input asp-for="CategoriesToString"class="form-control" />
                <span asp-validation-for="CategoriesToString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="TagsToString" class="form-control" />
                <span asp-validation-for="TagsToString" class="text-danger"></span>
            </div
            @*<div class="form-group">
            <label asp-for="Files" class="col-lg-2 control-label" ></label>
            <div class="col-lg-9">
                <input type="file" name="Img" id="file_upload" />
            </div>
        </div>*@
            @*<div class="form-group">
            <label asp-for="Author" class="control-label"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="BlogId" class="control-label"></label>
                @*<select asp-for="BlogId" class ="form-control" asp-items="ViewBag.BlogId"></select>*@
                <input type="text" asp-for="BlogId" value="@ViewBag.BlogId" readonly="readonly" hidden="hidden" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

