@model SlimeWeb.Core.Data.ViewModels.ViewPost

@{
    ViewData["Title"] = "Create";
}
<script src="https://cdn.tiny.cloud/1/ja3n56taowk4bc936bes4ljg4qzrtu9qbl825wsz5m06t6ko/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#content',
        plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table'
    });
</script>

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Published" class="control-label"></label>
                <input asp-for="Published" class="form-control" hidden="hidden" value="@DateTime.Now" />
                <span asp-validation-for="Published" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="content" class="control-label"></label>

                <textarea asp-for="content" class="form-control" id="content" name="content">
</textarea>


                <span asp-validation-for="content" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="BlogId" class="control-label"></label>
                @*<select asp-for="BlogId" class ="form-control" asp-items="ViewBag.BlogId"></select>*@
                <input type="text" asp-for="BlogId" value="@ViewBag.BlogId" readonly="readonly" hidden="hidden" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

