
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>

            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a asp-controller="Blogs" asp-action="Edit" >Edit Basic Info</a>
            </td>
            <td>
                <a asp-controller="Posts" asp-action="Index">Posts</a>
            </td>
            <td>
                <a asp-controller="BlogMods" asp-action="Index" >Blog Moderators</a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-controller="Category" asp-action="Index" >Categories</a>
            </td>
            <td>
                <a asp-controller="Tag" asp-action="Index" >Tags</a>
            </td>
            <td>
                <a asp-controller="Files" asp-action="Index" >Files</a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-controller="UserAdmin" asp-action="Index" >Users</a>
        </td>
            <td>
                <a asp-controller="Role" asp-action="Index">Roles</a>
            </td>
            <td>
                <a asp-controller="Claims" asp-action="Index" >Claims</a>
            </td>
        </tr>


        </tbody>
</table>



