
@{
    ViewData["Title"] = "Web Site Administration";
}

<h1>Web Site Administration</h1>
<table class="table">
  @*  <thead>
        <tr>

            <th></th>
        </tr>
    </thead>*@
    <tbody>
        <tr>
            <td>
                <a asp-controller="BlogAdmin" asp-action="Index" >Blogs Administration</a>
            </td>
            <td>
                <a asp-controller="PostsAdmin" asp-action="Index">Posts</a>
            </td>
            <td>
                <a asp-controller="BlogModsAdmin" asp-action="Index" >Blog Moderators</a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-controller="CategoryAdmin" asp-action="Index" >Categories</a>
            </td>
            <td>
                <a asp-controller="TagAdmin" asp-action="Index" >Tags</a>
            </td>
            <td>
                <a asp-controller="FilesAdmin" asp-action="Index" >Files</a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-controller="UserAdmin" asp-action="Index" >Users</a>
        </td>
            <td>
                <a asp-controller="Role" asp-action="Index">Roles</a>
            </td>
            <td>
                <a asp-controller="Claims" asp-action="Index" >Claims</a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-controller="Pages" asp-action="Index">Pages</a>
            </td>
            <td>
                <a asp-controller="Logs" asp-action="Index">Logs</a>
            </td>
            <td>
                @*<a asp-controller="Claims" asp-action="Index">Claims</a>*@
            </td>
        </tr>


        </tbody>
</table>



